body,html{
    width: 100%;
    max-width: 640px !important;
    margin: auto !important;
}
@charset "UTF-8";
html{
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 17px;
}
html,body {
	-webkit-touch-callout:none;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
body {
	line-height: 1.5;
	color: #212121;
	background-color: #f5f5f5;
	outline: 0;
}
html,body,header,section,footer,div,ul,ol,li,img,a,span,em,del,legend,center,strong,var,fieldset,form,label,dl,dt,dd,cite,input,hr,time,mark,code,figcaption,figure,textarea,h1,h2,h3,h4,h5,h6,p{
	margin:0;
	border:0;
	padding:0;
	font-style:normal;
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}
@media only screen and (min-width: 360px) {
	html {
		font-size: 19.2px !important;
	}
}
@media only screen and (min-width: 375px) {
	html {
		font-size: 20px !important;
	}
}
@media only screen and (min-width: 412px) {
	html {
		font-size: 22px !important;
	}
}
@media only screen and (min-width: 480px) {
	html {
		font-size: 25.6px !important;
	}
}
@media only screen and (min-width: 640px) {
	html {
		font-size: 34px !important;
	}
}
.feedback-content.weui-textarea{
	background: #FFFFFF;
	width: 100%;
	padding: 0.75rem;
	font-size: 0.7rem;
	color: #000000;
	line-height: 1rem;
	height: 5rem;
	padding-bottom: 0;
}
.feedback-contact.weui-cell{
	padding: 0.75rem;
	background: #FFFFFF;
	margin-top: 0.5rem;
}
.feedback-contact.weui-cell .weui-cell__hd{
	font-size: 0.7rem;
	color: #666666;
	line-height: 1rem;
}
.feedback-contact.weui-cell .weui-cell__bd{
	margin-left: 0.25rem;
}
.feedback-contact.weui-cell .weui-cell__bd .weui-input{
	font-size: 0.7rem;
	color: #333333;
	line-height: 1rem;
	height: 1rem;
	min-height: 1rem;
	display: block;
}
.submitsure{
	margin: 1.7rem  1.4rem 0;
	background: #FE2741;
	border-radius: 100px;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
	font-size: 0.8rem;
	color: #FFFFFF;
}
.feedback_upload_content{
	padding-top: 0.75rem;
	background: #FFFFFF;
}
.feedback_upload_content .imgs_content{
	width: 4rem;
	height: 4rem;
	position: relative;
	float: left;
	margin-left: 0.5rem;
	margin-bottom: 0.5rem;
}
.feedback_upload_content .imgs_content .showimgs{
	width: 4rem;
	height: 4rem;
	border: 1px dashed #e4e4e4;
	display: flex;
	align-items: center;
	justify-content: center;
}
.feedback_upload_content .imgs_content .showimgs img{
	max-width: 100%;
	max-height: 100%;
	display: block;
}
.feedback_upload_content .imgs_content .deleteimg{
	width: 1rem;
	height: 1rem;
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	margin-top: -0.4rem;
	margin-right: -0.4rem;
}
.uploadimg{
	width: 4rem;
	height: 4rem;
	display: block;
}
.uploadinput{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	opacity: 0;
	width: 4rem;
}