*{
  margin:0;
  padding:0;
  border: none;
}
html,body{
  font-family: "Microsoft Yahei", Arial, Verdana, Helvetica, sans-serif;
  font-size: 62.5% !important;
  text-decoration: none;
  height: 100%;
}
a{
  text-decoration: none;
  color: #ccc;
}
a:active{
  text-decoration: none;
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}
.feedback-content.weui-textarea{
	background: #FFFFFF;
	width: 100%;
	padding: 0.75rem;
	font-size: 1.8rem;
	color: #000000;
	line-height: 2.2rem;
	height: 8rem;
	padding-bottom: 0;
}
.feedback-contact.weui-cell{
	padding: 0.75rem;
	background: #FFFFFF;
	margin-top: 0.5rem;
}
.feedback-contact.weui-cell .weui-cell__hd{
	font-size: 1.6rem;
	color: #666666;
	line-height: 2.2rem;
}
.feedback-contact.weui-cell .weui-cell__bd{
	margin-left: 0.25rem;
}
.feedback-contact.weui-cell .weui-cell__bd .weui-input{
	font-size: 1.6rem;
	color: #333333;
	line-height: 2.2rem;
	height: 1.6rem;
	min-height: 1rem;
	display: block;
}
.submitsure{
	margin: 1.7rem  1.4rem 0;
	background: #FE2741;
	border-radius: 100px;
	height: 3.5rem;
	line-height: 3.5rem;
	text-align: center;
	font-size: 1.6rem;
	color: #FFFFFF;
}
.feedback_upload_content{
	padding-top: 0.75rem;
	background: #FFFFFF;
}
.feedback_upload_content .imgs_content{
	width: 6rem;
	height: 6rem;
	position: relative;
	float: left;
	margin-left: 0.5rem;
	margin-bottom: 0.5rem;
}
.feedback_upload_content .imgs_content .showimgs{
	width: 6rem;
	height: 6rem;
	border: 1px dashed #e4e4e4;
	display: flex;
	align-items: center;
	justify-content: center;
}
.feedback_upload_content .imgs_content .showimgs img{
	max-width: 100%;
	max-height: 100%;
	display: block;
}
.feedback_upload_content .imgs_content .deleteimg{
	width: 1rem;
	height: 1rem;
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	margin-top: -0.4rem;
	margin-right: -0.4rem;
}
.uploadimg{
	width: 6rem;
	height: 6rem;
	display: block;
}
.uploadinput{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	opacity: 0;
	width: 4rem;
}
.contact-way {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
}